.add_todo_wrap {
  margin-bottom: 15%;
  margin-top: 2%;

  .add_form {
    display: flex;

    .description {
      width: 100%;
      border-radius: 5px;
    }

    .add_btn {
      width: 20%;
      height: 52px;
      background: #40a9ff;
      color: white;
      cursor: pointer;
    }
  }
}
