.register_page_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .register_container {
    width: 20%;

    .register_form {
      display: flex;
      flex-direction: column;
      margin-bottom: 1%;
    }

    .cancel_btn {
      display: "block";
      width: 100%;
      text-align: center;
    }
  }
}
